<html>
<head>
<title>dongsa.net - {{infinitive}}</title>
<meta name="verify-v1" content="nfSbiOgPUnEWsQ8h5APnRPOxK0HWpZtiMMHZZ+oaIZ4=" >
<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#infinitive').select();
});

function toggle(e) {
    $(e).parent().parent().next('.explanation').toggle();
    return false;
}
</script>
<style type="text/css">
a {
    text-decoration: none; 
}
.explanation { 
    border: 1px dotted black; 
}
.message {
    background: red;
    color: white;
    text-decoration: bold;
}
td.tense {
    text-align: right;
}
body {
    text-align: center;
    margin-right: 200px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.type {
    margin-left: auto;
    margin-right: auto;
}

</style>
</head>
<body onscroll="$('#azn_srch')[0].style.top = $(document.body).scrollTop() > 200 ? $(document.body).scrollTop() : 200;">
<div id="azn_srch" style="position: absolute; right: 0; top: 200px; margin-right: 10px;">
<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822/US/httpthebestbo-20/8002/a36d5a6f-bcb9-4db9-bf55-078d3b0958d0"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fhttpthebestbo-20%2F8002%2Fa36d5a6f-bcb9-4db9-bf55-078d3b0958d0&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
</div>
<p>dongsa.net shows you how to conjugate and pronounce Korean verbs</p>
<p>I have a detailed explanation of what I learned while working on this project in my <a href="http://dan.bravender.us/2009/6/28/Announcing_dongsa.net.html">blog entry announcing the site</a>.</p>
<!-- AddThis Button BEGIN -->
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=dbravender"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=dbravender"></script>
<!-- AddThis Button END -->
<form id="infinitive-form" action="." method="get">
{% if both_regular_and_irregular %}
<div class="message">
The verb "{{ infinitive }}" has both regular and irregular forms depending on its meaning. You can change which conjugation you are viewing by toggling the "regular" checkbox and clicking the "conjugate!" button.
</div>
{% else %}
<div class="type">
{{ infinitive }} is a {{ verb_type }}.
</div>
{% endif %}
<table>
<thead>
<tr><td class="tense">tense</td><td>conjugation</td><td>pronunciation</td></tr>
</thead>
<tbody>
<tr>
    <td class="tense">infinitive</td>
    <td><input id="infinitive" name="infinitive" size="10" value="{{ infinitive }}"></td>
    <td>
        <input type="submit" value="conjugate!">
        {% if both_regular_and_irregular %}
        <input type="checkbox" name="regular" {{ 'checked' if regular }} value="on"> regular
        {% endif %}
    </td>
</tr>
{% for (tense, conjugation, pronunciation, reasons) in results %}
<tr>
    <td class="tense">{{ tense  }}</td> 
    <td><a href="#" onclick="return toggle(this);">{{ conjugation }}</a></td>
    <td>{{ '[%s]' % pronunciation if pronunciation != conjugation }}</td>
</tr>
<tr class="explanation" style="display: none;">
    <td colspan="3">
        <ol>
        {% for reason in reasons %}
            <li>{{ reason }}</li>
        {% endfor %}
        </ol>
    </td>
</tr>
{% endfor %}
</table>
 </form>
<p>Be sure to check out <a href="http://ezcorean.com">ezcorean.com</a> and <a href="http://www.koreanwikiproject.com/wiki/index.php?title=Hangeul_Assistant">Hangeul assistant</a>.</p>
<p>The source code for this website and the corresponding Korean conjugation and pronunciation modules are available at <a href="http://github.com/dbravender/korean_conjugation/tree/master">github</a>.</p>
<p>&copy;{{ year }} <a href="http://dan.bravender.us">Dan Bravender</a>. Please contact me if you have discovered a bug: <script type="text/javascript">

e = 'dan.b' + 'ravender' + String.fromCharCode(60 + 4) + 'gm' + 'ail.c' + 'om'

document.write('<a href="mailto:' + e + '">' + e + '</a>')

</script></p>

<script type="text/javascript"><!--
google_ad_client = "pub-2323396850941501";
/* korean verbs */
google_ad_slot = "8477612575";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://dan.bravender.us/~dbravender/piwik/" : "http://dan.bravender.us/~dbravender/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
} catch( err ) {}
</script>
<!-- End Piwik Tag -->
</body>
</html>
