* {
    background: black;
    color: white;
}

dd {
    display: block;
    background: darkblue;
    color: white;
    margin: 0;
}

dt {
    display: block;
    margin-bottom: 5px;
}

.show-reasons {
    color: darkblue;
}

.reasons {
    display: none;
}
