html, body {
    background: black;
    color: white;
    margin: 0;
}

dd, dt {
    padding-left: 5px;
}

dd {
    text-transform: capitalize;
    display: block;
    margin: 0;
    margin-top: 5px;
}

dt {
    display: block;
    margin-bottom: 5px;
}

.conjugation {
    border-bottom: 1px solid grey;
}

.reasons {
    display: none;
}

.warning {
    color: red;
}
