PythonPath "sys.path+['/home/dbravender/sites/korean-conjugation.git/web/']"
SetHandler python-program
PythonHandler cherrypy._cpmodpy::handler
PythonOption cherrypy.setup index::setup_server
PythonDebug On
